@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
.bc-dark {
  background-color: #212529;
}

.bc-light-blue {
  background-color: #0056d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.banner {
  width: 100%;
  height: 100vh;
}
.banner .banner-img {
  width: 100%;
  height: 100%;
}
.banner .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.banner .banner-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0;
}
.banner .banner-txt div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 70%;
  text-align: center;
}
.banner .banner-txt div h1 {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}
.banner .banner-txt div p {
  color: #ffffff;
  line-height: 20px;
}

.navbar {
  width: 100vw;
  margin: 0;
  transition: 0.5s;
  --bs-navbar-brand-padding-y: 1rem;
}
.navbar .container {
  width: 80%;
}
.navbar .container .header-logo {
  width: 85px;
  height: 30px;
}
.navbar .container .navbar-toggler {
  border: none;
}
.navbar .container .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.navbar .container .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/menu-hamburguesa.png");
}
.navbar .container .nav-item hr {
  margin: 1rem 0.4rem;
}
.navbar .container .icono-usuario {
  display: none !important;
}
.navbar .container .dropdown-menu {
  border: none;
}
.navbar .container .dropdown-menu .dropdown-item:focus {
  background-color: #F7F8F9;
  color: rgb(33, 37, 41);
}
.navbar .container .user-icon-container {
  display: none;
}
.navbar .container .btn-close:focus,
.navbar .container .dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
}

.bg-color {
  background-color: transparent;
}

.navbar-scrolled {
  background-color: rgb(33, 37, 41);
}

.boton-flotante {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 100;
}
.boton-flotante #btn-mas {
  display: none;
}
.boton-flotante #btn-mas:checked ~ .btn-redes a {
  margin-bottom: 10px;
  opacity: 100%;
  visibility: visible;
}
.boton-flotante #btn-mas:checked ~ .btn2-mas .fa-solid {
  transform: rotate(45deg);
  font-size: 25px;
}
.boton-flotante .btn-redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
.boton-flotante .btn-redes a,
.boton-flotante .btn2-mas,
.boton-flotante .btn2-mas i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  line-height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 10px rgba(33, 33, 33, 0.9);
  transition: 0.6s;
}
.boton-flotante .btn2-mas i:hover {
  background-color: #0545a6;
}
.boton-flotante .btn2-mas .fa-solid:hover {
  cursor: pointer;
}
.boton-flotante i {
  color: #ffffff;
  font-size: 18px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 830px;
  background: #212529;
}
.footer-container .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 80%;
}
.footer-container .footer .footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-container .footer .footer-logo img {
  width: 115px;
  height: 40px;
}
.footer-container .footer hr {
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.footer-container .footer article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 30px;
  width: 100%;
}
.footer-container .footer article nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.footer-container .footer article nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer-container .footer article nav ul a {
  color: #ffffff;
  text-decoration: none;
}
.footer-container .footer article nav ul a:hover {
  color: #9a9a9a;
}
.footer-container .footer article .footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.footer-container .footer article .footer-contacto .footer-datos-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 50%;
}
.footer-container .footer article .footer-contacto .footer-datos-box .footer-datos {
  display: flex;
  justify-content: flex-start;
}
.footer-container .footer article .footer-contacto .footer-datos-box .footer-datos i {
  color: #ffffff;
  width: 30px;
}
.footer-container .footer article .footer-contacto .footer-datos-box .footer-datos p {
  color: #ffffff;
}
.footer-container .footer .footer-newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.footer-container .footer .footer-newsletter .mail-newsletter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-container .footer .footer-newsletter .mail-newsletter input {
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  border: 0.5px solid grey;
}
.footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes .redes {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes .redes .redes-icono {
  width: 30px;
  text-decoration: none;
  color: #ffffff;
}
.footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes .redes .redes-icono i {
  font-size: 20px;
  color: #ffffff;
}
.footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  padding: 7px;
}
.footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes button:hover {
  background-color: #0545a6;
  cursor: pointer;
}
.footer-container .footer h2 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.footer-container .copyright {
  width: 80%;
  border-top: 1px solid #ffffff;
  padding-top: 15px;
  text-align: center;
}
.footer-container .copyright p {
  font-size: 12px;
  color: #ffffff;
}

.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
}
.carousel .carousel-indicators {
  margin-bottom: 2.5rem;
}
.carousel .carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.carousel .carousel-item .carousel-caption {
  padding: 0;
  margin-bottom: 10px;
  position: absolute;
  bottom: 70px;
}
.carousel .carousel-item .carousel-caption h1,
.carousel .carousel-item .carousel-caption h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
}
.carousel .carousel-item .carousel-caption p {
  color: #ffffff;
}

.nosotros-container {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 820px;
  /* height: 500px; version desktop */
}
.nosotros-container .nosotros-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 80%;
  /* flex-direction: row; version desktop */
}
.nosotros-container .nosotros-index .nosotros-index-imagen img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.nosotros-container .nosotros-index .nosotros-index-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  text-align: center;
  /* padding: 0 60px 0 20px; version desktop */
}
.nosotros-container .nosotros-index .nosotros-index-texto .nosotros-index-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nosotros-container .nosotros-index .nosotros-index-texto .nosotros-index-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.nosotros-container .nosotros-index .nosotros-index-texto .nosotros-index-info h2 {
  font-size: 18px;
  font-weight: 800;
}
.nosotros-container .nosotros-index .nosotros-index-texto .nosotros-index-info hr {
  width: 80px;
  margin-top: 15px;
}
.nosotros-container .nosotros-index .nosotros-index-texto .button-index {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 90px;
  height: 40px;
  border-radius: 7px;
  border: none;
}
.nosotros-container .nosotros-index .nosotros-index-texto .button-index:hover {
  background-color: rgb(59, 63, 67);
}
.nosotros-container .nosotros-index .nosotros-index-texto .button-index a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.datos-random-container {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/nosotros.jpg");
  object-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.datos-random-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: flex;
  background-attachment: fixed;
}
.datos-random-container .datos-random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* width: 60%; */
}
.datos-random-container .datos-random article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 250px;
  color: #ffffff;
}
.datos-random-container .datos-random article h2 {
  font-size: 50px;
  font-weight: 900;
}
.datos-random-container .datos-random article p {
  font-size: 18px;
  color: #ffffff;
}
.datos-random-container .datos-random hr {
  width: 50px;
  color: #ffffff;
  opacity: 100%;
}

.secciones-container {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 1700px;
}
.secciones-container .secciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  /* height: 650px; */
  /* position: absolute; */
}
.secciones-container .secciones .secciones-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  text-align: center;
  margin-bottom: 60px;
}
.secciones-container .secciones .secciones-descripcion h2 {
  font-size: 20px;
  font-weight: 800;
}
.secciones-container .secciones .card1 {
  background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/proyecto2.jpg");
}
.secciones-container .secciones .card2 {
  background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/proyecto7.jpg");
}
.secciones-container .secciones .card3 {
  background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/proyecto8.jpg");
}
.secciones-container .secciones .card1,
.secciones-container .secciones .card2,
.secciones-container .secciones .card3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 420px;
  text-decoration: none;
  padding: 25px;
}
.secciones-container .secciones .card1 .card-info,
.secciones-container .secciones .card2 .card-info,
.secciones-container .secciones .card3 .card-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: unset;
  gap: 10px;
  height: 100%;
  /* flex-direction: column; */
}
.secciones-container .secciones .card1 .card-info .card-titulo,
.secciones-container .secciones .card2 .card-info .card-titulo,
.secciones-container .secciones .card3 .card-info .card-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  text-align: right;
  margin-top: 150px;
  margin-bottom: 15px;
}
.secciones-container .secciones .card1 .card-info .card-titulo h2,
.secciones-container .secciones .card2 .card-info .card-titulo h2,
.secciones-container .secciones .card3 .card-info .card-titulo h2 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.secciones-container .secciones .card1 .card-info .card-titulo hr,
.secciones-container .secciones .card2 .card-info .card-titulo hr,
.secciones-container .secciones .card3 .card-info .card-titulo hr {
  display: none;
}
.secciones-container .secciones .card1 .card-info .card-titulo p,
.secciones-container .secciones .card2 .card-info .card-titulo p,
.secciones-container .secciones .card3 .card-info .card-titulo p {
  color: #ffffff;
}
.secciones-container .secciones .card1 .card-info span,
.secciones-container .secciones .card2 .card-info span,
.secciones-container .secciones .card3 .card-info span {
  color: #ffffff;
  font-weight: 800;
  font-size: 40px;
}
.secciones-container .secciones .secciones-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: unset;
  gap: 10px;
  text-decoration: none;
  color: #ffffff;
}

.newsletter-container {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 420px;
}
.newsletter-container .newsletter {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsletter-container .newsletter div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.newsletter-container .newsletter div h2 {
  font-size: 20px;
  font-weight: 700;
}
.newsletter-container .newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.newsletter-container .newsletter form .news-name,
.newsletter-container .newsletter form .news-email {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border: 0.5px rgba(165, 165, 165, 0.4666666667) solid;
  border-radius: 5px;
  outline: none;
}
.newsletter-container .newsletter form button {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 120px;
  height: 40px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  margin-top: 15px;
}
.newsletter-container .newsletter form button:hover {
  background-color: rgb(59, 63, 67);
}

.empresa-container {
  width: 100%;
  height: 910px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.empresa-container .empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
}
.empresa-container .empresa .empresa-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 20px;
  width: 70%;
  text-align: justify;
}
.empresa-container .empresa .empresa-texto div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}
.empresa-container .empresa .empresa-texto div h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.empresa-container .empresa .empresa-texto div hr {
  width: 50px;
  margin-top: 15px;
}
.empresa-container .empresa .empresa-images {
  width: 100%;
}
.empresa-container .empresa .empresa-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  transition: all 0.5s;
}
.empresa-container .empresa .empresa-images .empresa-img2 {
  display: none;
}

.empresa-banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 60px;
  width: 100%;
  text-align: right;
  margin-bottom: 100px;
}
.empresa-banner .banner-hr {
  width: 100%;
}
.empresa-banner .banner-hr hr {
  width: 35%;
  /* opacity: 50%; */
}
.empresa-banner .empresa-banner-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  width: 85%;
  text-align: right;
}
.empresa-banner .empresa-banner-texto p {
  font-weight: 900;
  line-height: 55px;
}
.empresa-banner .empresa-banner-texto .txt1 {
  font-size: 32px;
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.5px 1.5px rgb(118, 118, 118), -0.5px 0.5px 1.5px rgb(118, 118, 118), 0.5px -0.5px 1.5px rgb(118, 118, 118), -0.5px -0.5px 1.5px rgb(118, 118, 118);
}
.empresa-banner .empresa-banner-texto .txt2 {
  font-size: 45px;
  transition: 0.3s;
}
.empresa-banner:hover .txt2 {
  color: rgb(243, 230, 51);
}

.cards-container {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 85px 0 0;
}
.cards-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80%;
}
.cards-container article .card-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 390px;
}
.cards-container article .card-box .card-imagen {
  width: 130px;
  height: 130px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}
.cards-container article .card-box .card-imagen:hover {
  cursor: pointer;
}
.cards-container article .card-box .card-imagen .card-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.5s;
  position: absolute;
}
.cards-container article .card-box .card-imagen .frente img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cards-container article .card-box .card-imagen .dorso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.53);
  position: absolute;
  top: 0;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
}
.cards-container article .card-box .card-imagen .dorso h2 {
  font-size: 14px;
  font-weight: 300;
  width: 80%;
  color: #ffffff;
}
.cards-container article .card-box .card-imagen .dorso hr {
  width: 50px;
  color: #ffffff;
  opacity: 100%;
}
.cards-container article .card-box .card-imagen:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}
.cards-container article .card-box .card-imagen:hover .dorso {
  transform: perspective(600px) rotateY(360deg);
}
.cards-container article .card-box .etapa-card-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  text-align: center;
}
.cards-container article .card-box .etapa-card-texto .etapas-titulo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.cards-container article .card-box .etapa-card-texto .etapas-titulo h2 {
  font-size: 24px;
  font-weight: 700;
}
.cards-container article .card-box .etapa-card-texto .etapas-titulo span {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}

.servicios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 680px;
  margin: 30px 0;
}
.servicios-container .servicios-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  gap: 40px;
  width: 80%;
  /* height: 100%; */
}
.servicios-container .servicios-box .servicios-titulo {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: flex-start;
  gap: 8px;
  text-align: left;
}
.servicios-container .servicios-box .servicios-titulo h2 {
  font-weight: 700;
  font-size: 24px;
}
.servicios-container .servicios-box .servicios-titulo hr {
  width: 50px;
  margin-top: 15px;
}
.servicios-container .servicios-box .accordion {
  --bs-accordion-active-bg: whitesmoke;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-icon-transform: none;
}
.servicios-container .servicios-box .accordion .accordion-css {
  border: none;
}
.servicios-container .servicios-box .accordion .accordion-css .accordion-button {
  padding: 15px 20px;
}
.servicios-container .servicios-box .accordion .accordion-css .accordion-button:hover {
  background-color: whitesmoke;
}
.servicios-container .servicios-box .accordion .accordion-css .accordion-button::after {
  background-image: url("../images/signo-mas.png");
}
.servicios-container .servicios-box .accordion .accordion-css .accordion-button:not(.collapsed)::after {
  background-image: url("../images/signo-menos.png");
}
.servicios-container .servicios-box .accordion .accordion-item {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.proyectos-encabezado {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 160px;
  margin: 15px 0;
}
.proyectos-encabezado div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 75%;
  text-align: center;
}
.proyectos-encabezado div h2 {
  font-size: 18px;
  font-weight: 700;
}
.proyectos-encabezado div hr {
  width: 50px;
  margin-top: 10px;
}

.proyectos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 1450px;
}
.proyectos-container .proyectos-grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 180px;
  grid-template-areas: "img1 img2" "img3 img3" "img3 img3" "img4 img5" "img6 img6" "img6 img6" "img7 img8";
  grid-gap: 5px;
}
.proyectos-container .proyectos-grid .img1 {
  grid-area: img1;
}
.proyectos-container .proyectos-grid .img2 {
  grid-area: img2;
}
.proyectos-container .proyectos-grid .img3 {
  grid-area: img3;
}
.proyectos-container .proyectos-grid .img4 {
  grid-area: img4;
}
.proyectos-container .proyectos-grid .img5 {
  grid-area: img5;
}
.proyectos-container .proyectos-grid .img6 {
  grid-area: img6;
}
.proyectos-container .proyectos-grid .img7 {
  grid-area: img7;
}
.proyectos-container .proyectos-grid .img8 {
  grid-area: img8;
}
.proyectos-container .proyectos-grid .proyecto-card {
  position: relative;
  overflow: hidden;
}
.proyectos-container .proyectos-grid .proyecto-card a {
  text-decoration: none;
}
.proyectos-container .proyectos-grid .proyecto-card a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
.proyectos-container .proyectos-grid .proyecto-card a .proyecto-card-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 0.8s;
}
.proyectos-container .proyectos-grid .proyecto-card a .proyecto-card-datos h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.proyectos-container .proyectos-grid .proyecto-card a .proyecto-card-datos p {
  color: #ffffff;
}
.proyectos-container .proyectos-grid .proyecto-card a .proyecto-card-datos button {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 70px;
  height: 25px;
  font-size: 12px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
}
.proyectos-container .proyectos-grid .proyecto-card a .proyecto-card-datos button:hover {
  background: #212529;
  color: #ffffff;
  border: 1px solid #212529;
}
.proyectos-container .proyectos-grid .proyecto-card a .proyecto-card-datos:hover {
  opacity: 1;
}
.proyectos-container .proyectos-grid .proyecto-card:hover img {
  transform: scale(1.1);
}
.proyectos-container .mas-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.proyectos-container .mas-proyectos span {
  font-weight: 600;
}

/* .carousel {
    width: 100%;
    height: 800px;
} */
/* .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */
.cards-wrapper {
  display: flex;
  gap: 10px;
}

/* .modelos-encabezado {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 150px auto 0;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    } */
/* .modelos-filtro {
    display: flex;
    align-items: center;
} */
/* .modelos-filtro span {
    padding: 0 20px;
} */
/* .modelos-container {
    width: 100%;
    height: 100%;
    /* max-height: 1200px; *
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .modelos-container article {
    width: 95%;
    display: flex;
    flex-direction: column;
} */
/* .modelos-container article h2 {
    font-size: 16px;
    font-weight: 600;
} */
/* .modelos-box {
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
} */
/* .modelos {
    position: relative;
} */
/* .modelos-txt {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; *
    background-color: black;
    color: #ffffff;
    padding: 0 30px;
    opacity: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
} */
/* .modelos div:not(:last-child){
    margin-right: 5px;
} */
/* .modelos-txt p {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
} */
/* .modelos-txt span {
    color: #ffffff;
} */
/* .modelos img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;
} */
/* .carousel {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */
/* .carousel-inner {
    width: 100%;
} */
/* .carousel-item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
} */
.banner-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/banner-contacto.jpg");
  /* object-fit: cover; */
  background-position: center;
  text-align: center;
  color: #ffffff;
}

.contacto-container {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 600px;
}
.contacto-container .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 80%;
}
.contacto-container .contacto .datos-container {
  display: none;
}
.contacto-container .contacto .datos-container .datos-titulo {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contacto-container .contacto .datos-container .datos-titulo h2 {
  font-size: 22px;
  font-weight: 800;
}
.contacto-container .contacto .datos-container .datos-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contacto-container .contacto .datos-container .datos-box .datos {
  display: flex;
  flex-direction: unset;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.contacto-container .contacto .datos-container .datos-box .datos .datos-icono {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 100%;
}
.contacto-container .contacto .datos-container .datos-box .datos .datos-icono i {
  text-align: center;
  color: rgb(34, 34, 34);
  display: flex;
  align-items: flex-start;
}
.contacto-container .contacto .datos-container .datos-box .datos .datos-texto {
  display: flex;
  flex-direction: column;
}
.contacto-container .contacto .datos-container .datos-box .datos .datos-texto h2 {
  font-size: 16px;
  font-weight: 700;
}
.contacto-container .contacto .datos-container .datos-titulo-secundario {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacto-container .contacto .datos-container .datos-titulo-secundario h2 {
  font-size: 18px;
  font-weight: 700;
}
.contacto-container .contacto .contacto-hr {
  display: none;
}
.contacto-container .contacto form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
}
.contacto-container .contacto form h1 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}
.contacto-container .contacto form div {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.contacto-container .contacto form div input {
  width: 45%;
}
.contacto-container .contacto form div textarea {
  width: 100%;
}
.contacto-container .contacto form div input,
.contacto-container .contacto form div textarea {
  padding: 10px 5px;
  border: none;
  border-bottom: 0.5px rgba(165, 165, 165, 0.4666666667) solid;
  outline: none;
}
.contacto-container .contacto form div p {
  width: 100%;
  display: none;
}
.contacto-container .contacto form div button {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  margin-top: 10px;
}
.contacto-container .contacto form div button:hover {
  background-color: rgb(59, 63, 67);
}

.mapa-container {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.mapa-container .mapa {
  display: flex;
  flex-direction: unset;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 300px;
}
.mapa-container .mapa iframe {
  width: 100%;
  height: 100%;
  filter: hue-rotate(325deg);
}

.contacto-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 90%;
  height: 350px;
  text-align: center;
  margin: 0 auto;
}
.contacto-txt-container .contacto-txt-box,
.contacto-txt-container .contacto-txt div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.contacto-txt-container .contacto-txt-box {
  gap: 35px;
}
.contacto-txt-container .contacto-txt-box hr {
  height: 0.5px;
  width: 60px;
  color: #000;
}
.contacto-txt-container .contacto-txt-box .contacto-txt {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  gap: 20px;
}
.contacto-txt-container .contacto-txt-box .contacto-txt h2 {
  font-size: 18px;
  font-weight: 700;
}
.contacto-txt-container .contacto-txt-box .contacto-txt p {
  width: 60%;
}
.contacto-txt-container .contacto-txt-box .contacto-txt a {
  text-decoration: none;
  color: #212529;
  font-weight: 600;
  border: 2px solid #212529;
  padding: 8px;
  transition: 0.5s;
}
.contacto-txt-container .contacto-txt-box .contacto-txt a:hover {
  background-color: #212529;
  color: #ffffff;
}

@media (min-width: 768px) {
  /* HEADER TABLET */
  .banner {
    height: 50vh;
  }
  .banner .banner-txt {
    height: 50vh;
  }
  .banner .banner-txt div {
    width: 55%;
  }
  .banner .banner-txt div h1 {
    font-size: 22px;
  }
  /* INDEX TABLET */
  .nosotros-container {
    height: 550px;
  }
  .nosotros-container .nosotros-index {
    flex-direction: row;
    max-width: 1000px;
    height: 300px;
    gap: 45px;
  }
  .nosotros-container .nosotros-index .nosotros-index-imagen {
    width: 100%;
    height: 100%;
  }
  .nosotros-container .nosotros-index .nosotros-index-imagen img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .nosotros-container .nosotros-index .nosotros-index-texto {
    align-items: flex-end;
    gap: 15px;
  }
  .nosotros-container .nosotros-index .nosotros-index-texto .nosotros-index-info {
    text-align: justify;
    gap: 15px;
  }
  .nosotros-container .nosotros-index .nosotros-index-texto .nosotros-index-info div {
    align-items: flex-start;
  }
  .datos-random-container {
    height: 200px;
  }
  .datos-random-container .datos-random {
    width: 620px;
    flex-direction: row;
    gap: 0px;
  }
  .datos-random-container .datos-random article {
    flex-direction: row;
  }
  .datos-random-container .datos-random .datos-padding {
    padding: 0 10px;
  }
  .datos-random-container .datos-random hr {
    width: 70px;
    rotate: 90deg;
  }
  .secciones-container {
    height: 650px;
  }
  .secciones-container .secciones {
    flex-direction: row;
  }
  .secciones-container .secciones .secciones-descripcion {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
  .secciones-container .secciones .secciones-descripcion h2 {
    width: 65%;
  }
  .secciones-container .secciones .secciones-descripcion p {
    width: 65%;
  }
  .secciones-container .secciones .card1,
  .secciones-container .secciones .card2,
  .secciones-container .secciones .card3 {
    height: 500px;
  }
  .secciones-container .secciones .card1 .card-info,
  .secciones-container .secciones .card2 .card-info,
  .secciones-container .secciones .card3 .card-info {
    position: relative;
    flex-direction: column-reverse;
    /* Se vincula con el flex-direction del card-info mobile */
  }
  .secciones-container .secciones .card1 .card-info .card-titulo,
  .secciones-container .secciones .card2 .card-info .card-titulo,
  .secciones-container .secciones .card3 .card-info .card-titulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 50px;
    margin: 0;
    rotate: 90deg;
    position: absolute;
    top: 125px;
    right: -145px;
  }
  .secciones-container .secciones .card1 .card-info .card-titulo hr,
  .secciones-container .secciones .card2 .card-info .card-titulo hr,
  .secciones-container .secciones .card3 .card-info .card-titulo hr {
    display: block;
    background-color: white;
    color: white;
    opacity: 100%;
    width: 100px;
    margin-top: 0;
  }
  .secciones-container .secciones .card1 .card-info .card-titulo p,
  .secciones-container .secciones .card2 .card-info .card-titulo p,
  .secciones-container .secciones .card3 .card-info .card-titulo p {
    display: none;
  }
  .newsletter-container {
    height: 250px;
  }
  .newsletter-container .newsletter {
    width: 70%;
  }
  .newsletter-container .newsletter div {
    align-items: center;
  }
  .newsletter-container .newsletter div p {
    width: 70%;
  }
  .newsletter-container .newsletter form {
    flex-direction: row;
  }
  .newsletter-container .newsletter form .news-name {
    width: 30%;
  }
  .newsletter-container .newsletter form .news-email {
    width: 50%;
  }
  .newsletter-container .newsletter form button {
    margin-top: 0;
  }
  /* NOSOTROS TABLET */
  .empresa-container {
    height: 840px;
  }
  .empresa-container .empresa {
    gap: 90px;
    margin-top: 20px;
  }
  .empresa-container .empresa .empresa-images {
    height: 380px;
  }
  .empresa-banner {
    height: 300px;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .empresa-banner .empresa-banner-texto p {
    line-height: 80px;
  }
  .empresa-banner .empresa-banner-texto .txt1 {
    font-size: 45px;
  }
  .empresa-banner .empresa-banner-texto .txt2 {
    font-size: 80px;
  }
  .cards-container {
    padding: 65px 0 30px;
  }
  .cards-container article {
    width: 90%;
    flex-direction: row;
    gap: 0;
  }
  .cards-container article .card-box {
    height: 420px;
    gap: 30px;
  }
  .cards-container article .card-box .card-imagen {
    width: 160px;
    height: 160px;
  }
  .cards-container article .card-box .card-imagen .dorso h2 {
    font-size: 16px;
  }
  .cards-container article .card-box .etapas-titulo h2 {
    font-size: 28px;
  }
  .servicios-container {
    height: 530px;
  }
  .servicios-container .servicios-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .servicios-container .servicios-box .servicios-titulo {
    width: 45%;
  }
  .servicios-container .servicios-box .servicios-titulo h2 {
    font-size: 30px;
  }
  .servicios-container .servicios-box .servicios-titulo p {
    width: 60%;
  }
  .servicios-container .servicios-box .accordion {
    width: 50%;
  }
  /* PROYECTOS TABLET */
  .proyectos-encabezado {
    height: 150px;
  }
  .proyectos-encabezado h2 {
    font-size: 20px;
  }
  .proyectos-encabezado p {
    width: 80%;
  }
  .proyectos-container {
    height: 900px;
  }
  .proyectos-container .proyectos-grid {
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    grid-template-areas: "img1 img1 img2" "img3 img4 img4" "img5 img5 img6" "img7 img8 img8";
    grid-gap: 7px;
  }
  .proyectos-container .proyectos-grid .proyecto-card-datos {
    gap: 7px;
  }
  .proyectos-container .mas-proyectos span {
    font-size: 16px;
  }
  /* DISEÑOS TABLET */
  /* CONTACTO TABLET */
  .contacto-container {
    height: 1100px;
  }
  .contacto-container .contacto {
    gap: 50px;
  }
  .contacto-container .contacto .datos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
  }
  .contacto-container .contacto .datos-container .datos-titulo h2 {
    font-size: 35px;
  }
  .contacto-container .contacto .datos-container .datos-icono {
    width: 37px;
    height: 37px;
  }
  .contacto-container .contacto .datos-container .datos-titulo-secundario {
    gap: 18px;
  }
  .contacto-container .contacto .contacto-hr {
    width: 70px;
    height: 2px;
    display: block;
    background-color: black;
    opacity: 100%;
  }
  .contacto-container .contacto form {
    border-top: none;
    padding-top: 0px;
    margin-top: 15px;
  }
  .contacto-container .contacto form div textarea {
    height: 175px;
  }
  /* FOOTER TABLET */
  .footer-container {
    height: 100%;
    padding: 40px 0;
  }
  .footer-container .footer {
    align-items: flex-start;
  }
  .footer-container .footer .footer-logo {
    width: 100%;
    justify-content: flex-start;
  }
  .footer-container .footer hr {
    align-items: flex-start;
    text-align: left;
  }
  .footer-container .footer article {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container .footer article nav {
    width: 30%;
    text-align: left;
  }
  .footer-container .footer article .footer-contacto {
    width: 60%;
    align-items: flex-start;
    text-align: left;
  }
  .footer-container .footer article .footer-contacto .footer-datos-box {
    align-items: flex-start;
  }
  .footer-container .footer .footer-newsletter {
    width: 100%;
    text-align: left;
  }
  .footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes {
    flex-direction: row;
  }
  .footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes .redes {
    justify-content: flex-start;
  }
  .footer-container .footer .footer-newsletter .mail-newsletter .iconos-redes button {
    width: 150px;
  }
}
@media (min-width: 992px) {
  /* HEADER DESKTOP */
  .banner {
    height: 75vh;
  }
  .banner .banner-txt {
    height: 75vh;
  }
  .banner .banner-txt div {
    width: 35%;
  }
  .banner .banner-txt div h1 {
    font-size: 24px;
  }
  /* NAVBAR DESKTOP */
  .navbar .container .nav-link {
    /* color: rgb(197, 197, 197); */
    color: white;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    padding: 0 30px;
  }
  .navbar .container .nav-link:hover {
    /* color: white; */
    color: rgb(197, 197, 197);
  }
  .navbar .container .nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: rgb(197, 197, 197);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .navbar .container .nav-link:hover::before {
    width: 75%;
    visibility: visible;
  }
  .navbar .container .nav-link:focus {
    color: white;
  }
  .navbar .container .user-icon-container {
    display: block;
  }
  .navbar .container .user-icon-container .icono-usuario2,
  .navbar .container .user-icon-container .fa-circle-user {
    color: white;
    text-decoration: none;
  }
  .navbar .container .user-icon-container .icono-usuario2 {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .navbar .container .user-icon-container .dropdown-menu {
    border: 1px solid rgb(197, 197, 197);
  }
  .navbar .container .nav-item hr,
  .navbar .container .dropdown-toggle,
  .navbar .container .usuario,
  .navbar .container .icono-usuario,
  .navbar .container .fa-house {
    display: none;
  }
  /* INDEX DESKTOP */
  .secciones-container {
    height: 800px;
  }
  .secciones-container .secciones .card1,
  .secciones-container .secciones .card2,
  .secciones-container .secciones .card3 {
    height: 620px;
  }
  /* NOSOTROS DESKTOP */
  .empresa-container {
    height: 550px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .empresa-container .empresa {
    width: 80%;
    flex-direction: row;
  }
  .empresa-container .empresa .empresa-texto {
    width: 40%;
  }
  .empresa-container .empresa .empresa-images {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.5s;
  }
  .empresa-container .empresa .empresa-images img {
    height: 350px;
    border-radius: 15px;
    transition: 0.7s;
  }
  .empresa-container .empresa .empresa-images .empresa-img2 {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .empresa-container .empresa .empresa-images:hover .empresa-img2 {
    opacity: 1;
    filter: grayscale(0%);
  }
  .empresa-banner-texto .txt1,
  .empresa-banner-texto .txt2 {
    font-size: 75px;
  }
  .cards-container {
    height: 600px;
  }
  .cards-container article {
    width: 70%;
    max-width: 1000px;
    flex-direction: row;
    gap: 40px;
  }
  .cards-container article .card-box {
    height: 390px;
  }
  .cards-container .etapa-card-texto {
    width: 80%;
  }
  .cards-container .etapa-card-texto .etapas-titulo {
    gap: 10px;
  }
  .servicios-container {
    height: 500px;
  }
  /* PROYECTOS DESKTOP */
  .proyectos-encabezado h2 {
    font-size: 24px;
  }
  .proyectos-encabezado p {
    width: 60%;
  }
  .proyectos-container {
    height: 1220px;
  }
  .proyectos-container .proyectos-grid {
    width: 70%;
    /* max-width: 1200px; */
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas: "img1 img1 img1 img2" "img3 img3 img4 img4" "img3 img3 img5 img6" "img7 img8 img8 img6";
  }
  .proyectos-container .proyectos-grid .proyecto-card-datos {
    gap: 7px;
  }
  .proyectos-container .mas-proyectos span {
    font-size: 16px;
  }
  /* DISEÑOS DESKTOP - Falta convertilo en responsive */
  /* CONTACTO DESKTOP */
  .contacto-container {
    height: 750px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .contacto-container .contacto {
    flex-direction: row;
  }
  .contacto-container .contacto .datos-container {
    width: 50%;
    position: relative;
  }
  .contacto-container .contacto .datos-container .datos-titulo h2 {
    font-size: 70px;
    position: absolute;
    top: -50px;
    left: -60px;
  }
  .contacto-container .contacto .datos-container .datos-titulo p {
    margin-top: 50px;
  }
  .contacto-container .contacto .datos-container .datos {
    gap: 25px;
  }
  .contacto-container .contacto .datos-container .datos .datos-icono {
    width: 45px;
    height: 45px;
  }
  .contacto-container .contacto .datos-container .datos .datos-icono i {
    font-size: 16px;
  }
  .contacto-container .contacto .datos-container .datos .datos-texto {
    gap: 5px;
  }
  .contacto-container .contacto .datos-container .datos .datos-texto h2 {
    font-size: 18px;
  }
  .contacto-container .contacto .datos-container .datos-titulo-secundario h2 {
    font-size: 20px;
  }
  .contacto-container .contacto .contacto-hr {
    display: none;
  }
  .contacto-container .contacto form {
    width: 50%;
    margin-top: 0;
  }
  .contacto-container .contacto form input,
  .contacto-container .contacto form textarea {
    padding: 15px 10px;
  }
  .contacto-container .contacto form h1 {
    font-size: 22px;
  }
  .contacto-container .contacto form p {
    display: block;
    width: 80%;
    color: black;
    font-size: 13px;
    font-style: italic;
  }
  .contacto-container .contacto form button {
    width: 30%;
    padding: 10px 15px;
  }
  .mapa {
    height: 350px;
  }
  .mapa .contacto-txt h2 {
    font-size: 22px;
  }
  .mapa .contacto-txt a {
    padding: 8px 15px;
  }
  /* FOOTER DESKTOP */
  .footer-container {
    height: 350px;
  }
  .footer-container .footer {
    margin-top: 30px;
    flex-direction: row;
  }
  .footer-container .footer .footer-logo {
    width: 20%;
  }
  .footer-container .footer hr {
    display: none;
  }
  .footer-container .footer article {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
  .footer-container .footer article .footer-datos-box {
    width: 100%;
  }
  .footer-container .footer .footer-newsletter {
    width: 30%;
  }
  .footer-container .footer .footer-newsletter button {
    width: 160px;
  }
  .footer-container .copyright {
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
