.footer-container {
    @include flex(column, center, center, 60px);
    width: 100%;
    height: 900px;
    background: rgb(33, 37, 41);

    .footer {
        @include flex(column, space-between, center, 40px);
        width: 80%;

        .footer-logo {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 115px;
                height: 40px;
            }
        }

        hr {
            width: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #ffffff;
        }

        article {
            @include flex(column, center, normal, 30px);
            width: 100%;

            nav {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    a {
                        color: #ffffff;
                        text-decoration: none;

                        &:hover {
                            color: #9a9a9a;
                        }
                    }
                }
            }

            .footer-contacto {
                @include flex(column, flex-start, center, 10px);
                text-align: center;

                .footer-datos-box {
                    @include flex(column, center, center, 4px);
                    width: 50%;

                    .footer-datos {
                        display: flex;
                        justify-content: flex-start;

                        i {
                            color: #ffffff;
                            width: 30px;
                        }

                        p {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .footer-newsletter {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;

            .mail-newsletter {
                width: 100%;
                max-width: 350px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                input {
                    width: 100%;
                    padding: 8px;
                    border-radius: 7px;
                    border: 0.5px solid grey;
                    outline: none;
                }

                .iconos-redes {
                    @include flex(column-reverse, space-between, center, 20px);

                    .redes {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        gap: 5px;

                        .redes-icono {
                            width: 30px;
                            text-decoration: none;
                            color: #ffffff;

                            i {
                                font-size: 18px;
                                color: #ffffff;
                            }
                        }
                    }

                    button {
                        @include btn(100%, unset, center, center, #ffffff, 600, none, 7px, 7px);

                        &:hover {
                            background-color: #0545a6;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
        }
    }

    .copyright {
        width: 80%;
        border-top: 1px solid #ffffff;
        padding-top: 15px;
        text-align: center;

        p {
            font-size: 12px;
            color: #ffffff;
        }
    }
}