.swiper {
    width: 100%;
    height: 200px;
}




/* .carousel {
    width: 100%;
    height: 800px;
} */
/* .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */
// .cards-wrapper {
//     display: flex;
//     gap: 10px;
// }

/* .modelos-encabezado {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 150px auto 0;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    } */
/* .modelos-filtro {
        display: flex;
        align-items: center;
    } */
/* .modelos-filtro span {
        padding: 0 20px;
    } */

/* .modelos-container {
        width: 100%;
        height: 100%;
        /* max-height: 1200px; *
        display: flex;
        justify-content: center;
        align-items: center;
    } */
/* .modelos-container article {
        width: 95%;
        display: flex;
        flex-direction: column;
    } */
/* .modelos-container article h2 {
        font-size: 16px;
        font-weight: 600;
    } */

/* .modelos-box {
        display: flex;
        flex-direction:  column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    } */
/* .modelos {
        position: relative;
    } */
/* .modelos-txt {
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* gap: 5px; *
        background-color: black;
        color: #ffffff;
        padding: 0 30px;
        opacity: 70%;
        position: absolute;
        bottom: 0;
        left: 0;
    } */
/* .modelos div:not(:last-child){
        margin-right: 5px;
    } */
/* .modelos-txt p {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
    } */
/* .modelos-txt span {
        color: #ffffff;
    } */
/* .modelos img {
        width: 100%;
        height: 550px;
        object-fit: cover;
        object-position: center;
    } */

/* .carousel {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    } */
/* .carousel-inner {
        width: 100%;
    } */
/* .carousel-item img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: center;
    } */