.carousel {
    width: 100%;
    height: 100vh;
    position: relative;

    .carousel-indicators {
        margin-bottom: 2.5rem;
    }

    .carousel-item {
        img {
            @include img(100%, 100vh, cover, center);
        }

        .carousel-caption {
            padding: 0;
            margin-bottom: 10px;
            position: absolute;
            bottom: 70px;

            h1,
            h2 {
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
            }

            p {
                color: #ffffff;
            }
        }
    }
}

.nosotros-container {
    @include flex(unset, center, center, 0);
    width: 100%;
    height: 900px;

    .nosotros-index {
        @include flex(column-reverse, center, center, 50px);
        width: 100%;

        .nosotros-index-texto {
            @include flex(column, center, center, 20px);
            width: 70%;
            text-align: justify;

            .nosotros-index-info {
                display: flex;
                flex-direction: column;
                gap: 20px;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 10px;

                    h2 {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    hr {
                        width: 50px;
                        margin-top: 15px;
                    }
                }
            }

            .button-index {
                @include btn(120px, 40px, center, center, #ffffff, 600, none, 7px, 5px 10px);
                margin-top: 10px;

                &:hover {
                    background-color: rgb(59, 63, 67);
                }

                a {
                    color: #ffffff;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }

        .nosotros-index-imagen img {
            @include img(180px, 180px, cover, center);
            border-radius: 100%;
        }
    }
}

.datos-random-container {
    @include flex(unset, center, center, 0);
    width: 100%;
    height: 500px;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../images/index-datos-random.webp");
    object-position: center;
    background-attachment: fixed;
    background-size: cover;

    img {
        @include img(100%, 100%, cover, center);
        display: flex;
        background-attachment: fixed;
    }

    .datos-random {
        @include flex(column, center, center, 30px);

        article {
            @include flex(column, center, center, 15px);
            width: 250px;
            color: #ffffff;

            h2 {
                font-size: 50px;
                font-weight: 900;
            }

            p {
                font-size: 18px;
                color: #ffffff;
            }
        }

        hr {
            width: 50px;
            color: #ffffff;
            opacity: 100%;
        }
    }
}

.secciones-container {
    @include flex(unset, center, center, 0);
    width: 100%;
    height: 1700px;

    .secciones {
        @include flex(column, center, center, 0);
        width: 100%;

        .secciones-descripcion {
            @include flex(column, center, center, 20px);
            width: 80%;
            text-align: center;
            margin-bottom: 60px;

            h2 {
                font-size: 18px;
                font-weight: 700;
            }

            hr {
                width: 50px;
                margin-top: 10px;
            }
        }

        .card1 {
            background-image: linear-gradient(145deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)),
                url("../images/index-proyectos.webp");
        }

        .card2 {
            background-image: linear-gradient(145deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)),
                url("../images/index-disenos.webp");
        }

        .card3 {
            background-image: linear-gradient(145deg,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)),
                url("../images/index-contacto.webp");
        }

        .card1,
        .card2,
        .card3 {
            width: 100%;
            height: 420px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            text-decoration: none;
            padding: 25px;
            transition: 2s;

            .card-info {
                @include flex(column-reverse, space-between, unset, 10px);
                height: 100%;

                .card-titulo {
                    @include flex(column, center, flex-end, 0);
                    text-align: right;
                    margin-top: 150px;
                    margin-bottom: 15px;

                    h2 {
                        font-size: 16px;
                        font-weight: 700;
                        color: #ffffff;
                    }

                    hr {
                        display: none;
                    }

                    p {
                        color: #ffffff;
                    }
                }

                span {
                    color: #ffffff;
                    font-weight: 800;
                    font-size: 40px;
                }
            }
        }

        .secciones-card {
            @include flex(column-reverse, space-between, unset, 10px);
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.newsletter-container {
    @include flex(unset, center, flex-start, 0);
    width: 100%;
    height: 420px;

    .newsletter {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;

            h2 {
                font-size: 18px;
                font-weight: 700;
            }
        }

        form {
            @include flex(column, center, center, 15px);
            width: 100%;

            .news-name,
            .news-email {
                width: 100%;
                max-width: 350px;
                padding: 10px;
                border: 0.5px #a5a5a577 solid;
                border-radius: 5px;
                outline: none;
            }

            button {
                @include btn(100%, 40px, center, center, #ffffff, 600, none, 7px, 5px 10px);
                margin-top: 15px;
                max-width: 350px;

                &:hover {
                    background-color: rgb(59, 63, 67);
                }
            }
        }
    }
}